# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
fenv/
venv/

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log